
@mixin resetMP{
  margin: 0;
  padding: 0;
}

@mixin marg-lat($width: 1%){
  margin-left: $width;
  margin-right: $width;
}

@mixin marg-vert($width: 1%){
  margin-top: $width;
  margin-bottom: $width;
}

@mixin pad-lat($width: 1%){
  padding-left: $width;
  padding-right: $width;
}

@mixin pad-vert($height: 1%){
  padding-top: $height;
  padding-bottom: $height;
}


@mixin no-select-text($cursor: default){
  cursor: $cursor;
  user-select: none;
  &::selection{
    background-color: transparent;
  }
}