@import '~assets/scss/variables/_sizes';
@import '~assets/scss/variables/_color';
@import '~assets/scss/mixins/_general';
@import '~assets/scss/mixins/_media';

.container {
  width: 400px;
  position: fixed;
  bottom: 0;
  left: -400px;
  //min-height: 100px;
  background: $white;

  .error {
    width: 100%;
    position: relative;
    padding: $pad-lg $pad-md;
    //min-height: inherit;
    //overflow: scroll;
    border: 2px solid #ccc;
    border-radius: 0 3px 0 0;
    border-bottom: none;
    border-left: none;
    text-align: center;

    .close {
      @include no-select-text(pointer);
      font-size: $pad-lg;
      position: absolute;
      top: 0;
      right: 3px;
      color: $red;
    }

  }

  //.error{
  //  //margin: 0 auto;
  //  width: 100%;
  //
  //
  //  @include phone-landscape {
  //    width: 500px;
  //  }
  //  @include phone-portrait {
  //    width: 300px;
  //  }
  //
  //}
}
